{% extends "_layout" %}

{% block title %}Not found | {{ super() }}{% endblock %}

{% block body %}

<div class="text-center">
  <h3>That page couldn't be found.</h3>

  <h5>Use your browser's back button or click the title link above.</h5>
</div>

{% endblock %}
