{% extends "_layout" %}

{% block title %}Error | {{ super() }}{% endblock %}

{% block body %}

<div class="text-center">
  <h2>Something went wrong</h2>
  <h4>{{ error }}</h4>
</div>

{% endblock %}
