<div class="pt-5">
  {% if pending_request %}
    <p style="font-size: 125%">
      You already have a request pending.
      <br>
      Please allow up to 7 days before reaching out to the ATM or DATM.
    </p>
  {% else %}
    {% if checklist.visiting and controller_info.rating >= 4 %}
      <p>It looks like you're cleared to visit. Click the button below to submit the request.</p>
      <form action="/facility/visitor_application" method="POST">
        <input type="hidden" name="rating" value="{{ controller_info.rating }}">
        <input type="hidden" name="facility" value="{{ controller_info.facility }}">
        <button type="submit" class="btn btn-primary">Request visitor status</button>
      </form>
    {% else %}
      <p style="font-size: 125%">
        VATUSA is reporting you as <strong>ineligible</strong> for visiting.
        <br><br>
        {% if controller_info.rating < 4 %}
          You must be rated at least at S3.<br>
        {% endif %}
        {% if not checklist.rating_90_days %}
          You have not have your current rating for at least 90 days.
        {% elif not checklist.controlled_50_hrs %}
          You have not controlled 50 hours in your current rating.
        {% elif not checklist.last_visit_60_days %}
          You have visited another facility within the last 60 days.
        {% else %}
          For information why, please check the above documents.
        {% endif %}
        <br>
        If you believe this is in error, you can reach out to the facility's ATM or DATM.
      </p>
    {% endif %}
  {% endif %}
</div>
