<h4>
  <a href="/airspace/flights" class="icon-link icon-link-hover text-decoration-none">
    Flights
    <i class="bi bi-arrow-right-short"></i>
  </a>
</h4>
<p class="ms-2">
  <span title="Starting and ending at local fields">
    <strong>Within</strong>: {{ flights.within }}
  </span>
  <br>
  <span title="From local fields to outside the airspace">
    <strong>From</strong>: {{ flights.from }}
  </span>
  <br>
  <span title="From outside airspace to local fields">
    <strong>To</strong>: {{ flights.to }}
  </span>
</p>
