<h4><a href="/airspace/flights">Flights</a></h4>
<ul>
  <li title="Starting and ending at local fields">
    <strong>Within</strong>: {{ flights.within }}
  </li>
  <li title="From local fields to outside the airspace">
    <strong>From</strong>: {{ flights.from }}
  </li>
  <li title="From outside airspace to local fields">
    <strong>To</strong>: {{ flights.to }}
  </li>
</ul>
