<h4>
  <a href="/airspace/weather" class="icon-link text-decoration-none">
    Weather
    <i class="bi bi-arrow-right-short"></i>
  </a>
</h4>
<p class="ms-2">
  {% for airport in weather %}
  <span title="{{ airport.raw }}">
    {{ airport.name }}
    {% if airport.conditions == 'VFR' %}
      <span class="badge rounded-pill text-bg-success">{{ airport.conditions }}</span>
    {% elif airport.conditions == 'MVFR' %}
      <span class="badge rounded-pill text-bg-info">{{ airport.conditions }}</span>
    {% elif airport.conditions == 'IFR' %}
      <span class="badge rounded-pill text-bg-danger">{{ airport.conditions }}</span>
    {% else %}
      <span class="badge rounded-pill" style="background-color: purple;">{{ airport.conditions }}</span>
    {% endif %}
  </span>
  <br>
  {% endfor %}
</p>
