{% extends "_layout" %}

{% block title %}Visitor Application | {{ super() }}{% endblock %}

{% block body %}

<h2>Visitor Application</h2>

<h4 class="mt-3 mb-2">Thank you for your interest!</h4>

<p>
  VATSIM and VATUSA both lay out the requirements for visiting controllers. You can find those requirements
  <a class="text-decoration-none" href="https://vatsim.net/docs/policy/transfer-and-visiting-controller-policy" target="_blank">here for VATSIM</a> and
  <a class="text-decoration-none" href="https://www.vatusa.net/info/policies" target="_blank">here for VATUSA (look for "DP001")</a>.
</p>

<a class="text-decoration-none" href="#" hx-get="/facility/visitor_application/form" hx-swap="outerHTML">If you believe you meet those requirements, click here to load the form.</a>

{% endblock %}
