{% if online|length > 0 %}
<ul>
  {% for controller in online %}
  <li>
    {{ controller.name }} ({{ controller.cid }}) for
    {{ controller.online_for }}
  </li>
  {% endfor %}
</ul>
{% else %} No controllers online. {% endif %}
