<h4><a href="/pilots/weather">Weather</a></h4>
<ul>
  {% for airport in weather %}
  <li title="{{ airport.raw }}">
    {{ airport.name }}
    {% if airport.conditions == 'VFR' %}
      <span class="badge rounded-pill text-bg-success">{{ airport.conditions }}</span>
    {% elif airport.conditions == 'MVFR' %}
      <span class="badge rounded-pill text-bg-info">{{ airport.conditions }}</span>
    {% elif airport.conditions == 'IFR' %}
      <span class="badge rounded-pill text-bg-danger">{{ airport.conditions }}</span>
    {% else %}
      <span class="badge rounded-pill" style="background-color: purple;">{{ airport.conditions }}</span>
    {% endif %}
  </li>
  {% endfor %}
</ul>
