{% extends "_layout" %}

{% block title %}Request Training | {{ super() }}{% endblock %}

{% block head_extra %}
<style>
  dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.2);
  }

  dialog {
    background-color: var(--bs-body-bg);
    width: 30%;
    border: none;
    border-radius: 1.5rem;
  }
</style>
{% endblock %}

{% block body %}

<div class="row pt-3">
  <div class="card">
    <div class="card-body p-3">
      <h3 class="card-title">Request Training</h3>
      <p class="card-text">Submit a training request here. When your request is accepted, you will receive an email with your Mentor or Instructor's contact information.</p>
      <div class="card-text">
        <form action="/controller/training_request/request" method="POST" enctype="multipart/form-data">
          <div class="row mb-3">
            <label for="certification" class="form-label">Certification</label>
            <select name="certification" id="certification" class="form-select" required>
            {% for type in training_types %}
            <option value="{{ type }}">{{ type }}</option>
            {% endfor %}
            </select>
          </div>
          <div class="row mb-3">
            <label for="name" class="form-label">General Availability</label>
            <input type="text" id="availability" name="availability" class="form-control" required>
          </div>
          <div class="col">
            <button class="btn btn-success" role="button" type="submit">
              Request
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}