{% extends "_layout" %}

{% block title %}Training notes | {{ super() }}{% endblock %}

{% block body %}

<h2>Training notes</h2>

<div class="accordion" id="training_records_accordion">
  {% for record in training_records %}
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#record-{{ record.id }}"
          aria-expanded="false"
          aria-controls="record-{{ record.id }}"
        >
          #{{ record.id }} on {{ record.position }}
        </button>
      </h2>
      <div id="record-{{ record.id }}" class="accordion-collapse collapse" data-bs-parent="#training_records_accordion">
        <div class="accordion-body">
          <p>
            <strong>{{ record.session_date }}</strong>
          </p>
          <br>
          {{ record.notes }}
          <br>
          <a href="https://www.vatusa.net/my/profile#training">View on VATUSA</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
