{% extends "_layout" %}

{% block title %}{{ event.name }} | {{ super() }}{% endblock %}

{% block body %}

<div class="row">
  <div class="col" id="event-">
    <h2>{{ event.name }}</h2>
    <h5 class="pt-3"><strong>Start:</strong> <span class="d-none event-time">{{ event.start }}</span></h5>
    <h5><strong>End:</strong> <span class="d-none event-time">{{ event.end }}</span></h5>

    <p class="pt-3">{{ event.description }}</p>

    <div class="d-flex justify-content-around">
      {% if user_info and user_info.cid %}
        <button class="btn btn-primary" role="button">
          <i class="bi bi-plus-circle"></i>
          Register
        </button>
      {% endif %}
      {% if is_event_staff %}
        <button role="button" class="btn btn-warning">
          <i class="bi bi-pencil"></i>
          Edit event
        </button>
        <button role="button" class="btn btn-warning">
          <i class="bi bi-list"></i>
          Edit positions
        </button>
        <button role="button" class="btn btn-danger" id="button-delete">
          <i class="bi bi-trash"></i>
          Delete
        </button>
      {% endif %}
    </div>

  </div>
  <div class="col">
    <img src="{{ event.image_url }}" alt="Event banner" class="img-fluid" />
  </div>
</div>

<div class="row pt-4">
  <div class="col">
    <h4>Enroute Positions</h4>
    <ul class="list-group">
      {% for position in positions %}
        {% if position.category == 'Enroute' %}
          <li class="list-group-item">{{ position.name }} - {{ position.controller }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h4>TRACON Positions</h4>
    <ul class="list-group">
      {% for position in positions %}
        {% if position.category == 'TRACON' %}
          <li class="list-group-item">{{ position.name }} - {{ position.controller }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="col">
    <h4>Local Positions</h4>
    <ul class="list-group">
      {% for position in positions %}
        {% if position.category == 'Local' %}
          <li class="list-group-item">{{ position.name }} - {{ position.controller }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

{% if is_event_staff %}
  <div class="pt-3"></div>
  <hr />
  <h2>Sign-ups</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Controller</th>
        <th>Choice 1</th>
        <th>Choice 2</th>
        <th>Choice 3</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in registrations %}
        <tr>
          <td>{{ registration.controller }}</td>
          <td>{{ registration.choice_1 }}</td>
          <td>{{ registration.choice_2 }}</td>
          <td>{{ registration.choice_3 }}</td>
          <td>{{ registration.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<script defer>
  const opts = { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' };
  document.querySelectorAll('.event-time').forEach((element) => {
    element.innerText = new Date(element.innerText).toLocaleDateString('en-US', opts);
    element.classList.remove('d-none');
    element.classList.remove('event-time');
  });

  document.getElementById('button-delete').addEventListener('click', () => {
    const result = window.confirm('Are you sure you want to delete this event?');
    if (result) {
      fetch('/events/{{ event.id }}', { method: 'DELETE' })
        .then((response) => {
          if (response.status === 200 ) {
            window.location = '/events/';
          } else {
            console.error(response);
            window.alert(`Something went wrong; got status ${response.status}`);
          }
        })
        .catch((error) => {
          console.error(error);
          window.alert(`Something went wrong: ${error}`);
        });
    }
  });
</script>

{% endblock %}
