{% extends "_layout" %}

{% block title %}{{ event.name }} | {{ super() }}{% endblock %}

{% block head_extra %}
<style>
  dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.2);
  }
  dialog {
    background-color: var(--bs-body-bg);
    width: 30%;
    border: none;
    border-radius: 1.5rem;
  }
</style>
{% endblock %}

{% block body %}

<div class="row">
  <div class="col" id="event-">
    <h2>
      {{ event.name }}
      {% if event.published %}{% else %}(unpublished){% endif %}
    </h2>
    <h5 class="pt-3"><strong>Start:</strong> <span class="d-none event-time" updateTarget="editFormStart">{{ event.start }}</span></h5>
    <h5><strong>End:</strong> <span class="d-none event-time" updateTarget="editFormEnd">{{ event.end }}</span></h5>

    <p class="pt-3">{{ event.description }}</p>

    {% if event_not_over %}
      <div class="d-flex justify-content-between">
        {% if user_info and user_info.cid %}
          <button role="button" class="btn btn-primary" onclick="modalRegisterForm.showModal()">
            <i class="bi bi-plus-circle"></i>
            Register
          </button>
        {% endif %}
        {% if is_event_staff %}
          <button role="button" class="btn btn-warning" onclick="modalEditForm.showModal()">
            <i class="bi bi-pencil"></i>
            Edit event
          </button>
          <button role="button" class="btn btn-danger" id="button-delete">
            <i class="bi bi-trash"></i>
            Delete
          </button>
        {% endif %}
      </div>
    {% endif %}
  </div>
  <div class="col">
    <img src="{{ event.image_url }}" alt="Event banner" class="img-fluid" />
  </div>
</div>

<div class="row pt-4">
  <div class="col">
    <h4>Enroute Positions</h4>
    <ul class="list-group">
      {% for position in positions %}
        {% if position.category == 'Enroute' %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ position.name }} - {{ position.controller }}</span>
            {% if is_event_staff and event_not_over %}
              <div class="d-flex">
                <button class="btn btn-outline-warning btn-sm me-3 btn-position-set" position_id="{{ position.id }}" type="submit"><i class="bi bi-person"></i></button>
                <form action="/events/{{ event.id }}/delete_position/{{ position.id }}" method="POST">
                  <button class="btn btn-outline-danger btn-sm" type="submit"><i class="bi bi-trash"></i></button>
                </form>
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if event_not_over and is_event_staff %}
      <button class="btn btn-outline-warning btn-sm btn-position-add" style="width: 100%" category="Enroute">+ Add</button>
    {% endif %}
  </div>
  <div class="col">
    <h4>TRACON Positions</h4>
    <ul class="list-group">
      {% for position in positions %}
        {% if position.category == 'TRACON' %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ position.name }} - {{ position.controller }}</span>
            {% if is_event_staff and event_not_over %}
              <div class="d-flex">
                <button class="btn btn-outline-warning btn-sm me-3 btn-position-set" position_id="{{ position.id }}" type="submit"><i class="bi bi-person"></i></button>
                <form action="/events/{{ event.id }}/delete_position/{{ position.id }}" method="POST">
                  <button class="btn btn-outline-danger btn-sm" type="submit"><i class="bi bi-trash"></i></button>
                </form>
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if event_not_over and is_event_staff %}
      <button class="btn btn-outline-warning btn-sm btn-position-add" style="width: 100%" category="TRACON">+ Add</button>
    {% endif %}
  </div>
  <div class="col">
    <h4>Local Positions</h4>
    <ul class="list-group">
      {% for position in positions %}
        {% if position.category == 'Local' %}
          <li class="list-group-item d-flex justify-content-between">
            <span>{{ position.name }} - {{ position.controller }}</span>
            {% if is_event_staff and event_not_over %}
              <div class="d-flex">
                <button class="btn btn-outline-warning btn-sm me-3 btn-position-set" position_id="{{ position.id }}" type="submit"><i class="bi bi-person"></i></button>
                <form action="/events/{{ event.id }}/delete_position/{{ position.id }}" method="POST">
                  <button class="btn btn-outline-danger btn-sm" type="submit"><i class="bi bi-trash"></i></button>
                </form>
              </div>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    {% if event_not_over and is_event_staff %}
      <button class="btn btn-outline-warning btn-sm btn-position-add" style="width: 100%" category="Local">+ Add</button>
    {% endif %}
  </div>
</div>

{% if is_event_staff %}
  <div class="pt-3"></div>
  <hr />
  <h2>Sign-ups</h2>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Controller</th>
        <th>Choice 1</th>
        <th>Choice 2</th>
        <th>Choice 3</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      {% for registration in registrations %}
        <tr>
          <td>{{ registration.controller }}</td>
          <td>{{ registration.choice_1 }}</td>
          <td>{{ registration.choice_2 }}</td>
          <td>{{ registration.choice_3 }}</td>
          <td>{{ registration.notes }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

<dialog id="modalEditForm">
  <h2 class="pb-3">Edit event</h2>
  <form action="/events/{{ event.id }}" method="POST">
    <div class="row">
      <div class="col">
        <input type="hidden" name="timezone" id="input-timezone">
        <div class="mb-3">
          <label for="name" class="form-label">Event name</label>
          <input type="text" class="form-control" name="name" value="{{ event.name }}" required>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea name="description" class="form-control">{{ event.description }}</textarea>
        </div>
        <div class="mb-3">
          <label for="banner" class="form-label">Banner URL</label>
          <input type="text" class="form-control" name="banner" value="{{ event.image_url }}" required>
        </div>
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" value="" id="published" name="published" {% if event.published %}checked{% endif %}>
          <label class="form-check-label" for="published">
            Published
          </label>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="start" class="form-label">Start</label>
            <input type="datetime-local" name="start" id="editFormStart" class="form-control" required>
          </div>
          <div class="col">
            <label for="end" class="form-label">End</label>
            <input type="datetime-local" name="end" id="editFormEnd" class="form-control" required>
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-edit-close">Close</button>
          <button class="btn btn-primary" role="button" type="submit">Save</button>
        </div>
      </div>
    </div>
  </form>
</dialog>

<dialog id="modalRegisterForm">
  <h2 class="pb-3">Register</h2>
  <form action="/events/{{ event.id }}/register" method="POST">
    <div class="row">
      <div class="col">
        <div class="mb-3">
          <select class="form-select" name="choice_1">
            <option value="0">~ Empty</option>
            {% for position in positions_raw %}
              <option value="{{ position.id }}" {% if self_register and self_register.choice_1 == position.id %}selected="selected"{% endif %}>{{ position.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select" name="choice_2">
            <option value="0">~ Empty</option>
            {% for position in positions_raw %}
              <option value="{{ position.id }}" {% if self_register and self_register.choice_2 == position.id %}selected="selected"{% endif %}>{{ position.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select" name="choice_3">
            <option value="0">~ Empty</option>
            {% for position in positions_raw %}
              <option value="{{ position.id }}" {% if self_register and self_register.choice_3 == position.id %}selected="selected"{% endif %}>{{ position.name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="mb-3">
          <label for="notes" class="form-label">Notes</label>
          <textarea name="notes" class="form-control">{{ self_register.notes }}</textarea>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-register-close">Close</button>
          <div class="">
            {% if self_register %}
              <button class="btn btn-danger" role="button" id="btn-modal-register-unregister">Unregister</button>
            {% endif %}
            <button class="btn btn-primary" role="button" type="submit">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</dialog>

<dialog id="modalAddPosition">
  <h2 class="pb-3">Add position</h2>
  <form action="/events/{{ event.id }}/add_position" method="POST">
    <div class="row">
      <div class="col">
        <input type="hidden" name="category" id="new-position-category">
        <div class="mb-3">
          <label for="name" class="form-label">Position</label>
          <input type="text" class="form-control" name="name" style="text-transform: uppercase">
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-add-position-close">Close</button>
          <button class="btn btn-primary" role="button" type="submit">Add</button>
        </div>
      </div>
    </div>
  </form>
</dialog>

<dialog id="modalSetPosition">
  <h2 class="pb-3">Set position</h2>
  <form action="/events/{{ event.id }}/set_position" method="POST">
    <div class="row">
      <div class="col">
        <input type="hidden" name="position_id" id="set-position-id">
        <div class="mb-3">
          <select class="form-select" name="controller">
            <option value="0">Empty</option>
            {% for (cid, name) in all_controllers %}
              <option value="{{ cid }}">{{ name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="d-flex justify-content-between">
          <button class="btn btn-warning" role="button" id="btn-modal-set-position-close">Close</button>
          <button class="btn btn-primary" role="button" type="submit">Save</button>
        </div>
      </div>
    </div>
  </form>
</dialog>

<script defer>
  document.querySelectorAll('.event-time').forEach((element) => {
    const date = new Date(element.innerText);
    element.innerText = date.toLocaleDateString('en-US',
      { year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }
    );
    element.classList.remove('d-none');
    element.classList.remove('event-time');

    // this is annoying
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0');
    const dom = date.getDate().toString().padStart(2, '0');
    const hour = date.getHours().toString().padStart(2, '0');
    const minute = date.getMinutes().toString().padStart(2, '0');
    document.getElementById(element.getAttribute('updateTarget')).value = `${year}-${month}-${dom}T${hour}:${minute}`;
  });
  document.getElementById('input-timezone').value = Intl.DateTimeFormat().resolvedOptions().timeZone;

  document.getElementById('button-delete').addEventListener('click', (e) => {
    e.preventDefault();
    const result = window.confirm('Are you sure you want to delete this event?');
    if (result) {
      fetch('/events/{{ event.id }}', { method: 'DELETE' })
        .then((response) => {
          if (response.status === 200 ) {
            window.location = '/events';
          } else {
            console.error(response);
            window.alert(`Something went wrong; got status ${response.status}`);
          }
        })
        .catch((error) => {
          console.error(error);
          window.alert(`Something went wrong: ${error}`);
        });
    }
  });

  document.querySelectorAll('.btn-position-add').forEach((button) => {
    button.addEventListener('click', () => {
      document.getElementById('new-position-category').value = button.getAttribute('category');
      document.getElementById('modalAddPosition').showModal();
    });
  });

  document.querySelectorAll('.btn-position-set').forEach((button) => {
    button.addEventListener('click', () => {
      document.getElementById('set-position-id').value = button.getAttribute('position_id');
      document.getElementById('modalSetPosition').showModal();
    });
  });


  // can't nest forms in HTML
  document.getElementById('btn-modal-register-unregister')?.addEventListener('click', (e) => {
    e.preventDefault();
    const result = window.confirm('Are you sure you want to remove yourself from this event?');
    if (result) {
      fetch('/events/{{ event.id }}/unregister', { method: 'POST' })
        .then((response) => {
          window.location.reload();
        })
        .catch((error) => {
          console.error(error);
          window.alert(`Something went wrong: ${error}`);
        });
    }
  });

  // have to do it this way so the forms don't submit
  document.getElementById('btn-modal-edit-close').addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('modalEditForm').close();
  });
  document.getElementById('btn-modal-register-close').addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('modalRegisterForm').close();
  });
  document.getElementById('btn-modal-add-position-close').addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('modalAddPosition').close();
    document.getElementById('new-position-category').value = '';
  });
  document.getElementById('btn-modal-set-position-close').addEventListener('click', (e) => {
    e.preventDefault();
    document.getElementById('modalSetPosition').close();
    document.getElementById('set-position-id').value = '';
  });

  document.getElementById('modalAddPosition').querySelectorAll('input[type="text"]').forEach((input) => {
    input.addEventListener('keydown', (e) => {
      if (e.key === 'Enter') {
        e.preventDefault();
        document.getElementById('modalAddPosition').querySelector('form').submit();
      }
    });
  })
</script>

{% endblock %}
