{% extends "_layout" %}

{% block title %}Events | {{ super() }}{% endblock %}

{% block body %}

<h2>Events</h2>

{% if is_event_staff %}
  <div id="events" hx-get="/events/upcoming?staff=true" hx-trigger="load"></div>
{% else %}
  <div id="events" hx-get="/events/upcoming" hx-trigger="load"></div>
{% endif %}

{% endblock %}
