{% extends "_layout" %}

{% block title %}Activity | {{ super() }}{% endblock %}

{% block body %}

<h2>Activity</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Who</th>
      <th>This month</th>
      <th>Last month</th>
      <th>2 months ago</th>
      <th>3 months ago</th>
      <th>4 months ago</th>
    </tr>
  </thead>
  <tbody>
    {% for row in activity_data %}
      <tr>
        <td>
          {{ row.name }} {% if row.ois %}({{ row.ois }}){% endif %}
        </td>
        <td>{{ row.month_0|minutes_to_hm }}</td>
        <td>{{ row.month_1|minutes_to_hm }}</td>
        <td>{{ row.month_2|minutes_to_hm }}</td>
        <td>{{ row.month_3|minutes_to_hm }}</td>
        <td>{{ row.month_4|minutes_to_hm }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
