<!-- prettier-ignore -->
{% extends "layout" %}

{% block title %}{{ title }} | {{ super() }}{% endblock %}

<!-- prettier-ignore -->
{% block body %}

<h1>{{ title }}</h1>
<p>{{ welcome_text }}</p>

{% endblock %}
