{% extends "layout" %}

{% block title %}Home | {{ super() }}{% endblock %}

{% block body %}

<h3 style="text-align: center;">Login complete, redirecting ...</h3>

<script>
setTimeout(() => {
  window.location.href = "/";
}, 250);
</script>

{% endblock %}
