{% extends "_layout" %}

{% block title %}Roster | {{ super() }}{% endblock %}

{% block body %}

<h2>Roster</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <!-- TODO -->
    </tr>
  </thead>
  <tbody>
    <!-- TODO -->
  </tbody>
</table>

{% endblock %}
