{% extends "_layout" %}

{% block title %}Staff | {{ super() }}{% endblock %}

{% block body %}

<h2>Staff</h2>

<div class="d-flex flex-wrap justify-content-between">
  {% for position in staff %}
    {% if position.controllers|length > 0 %}
      <div class="card p-1 m-2" style="width: 30%">
        <div class="card-body">
          <h5 class="card-title" title="{{ position.name }}">
            {{ position.short }}
          </h5>
          <p class="card-text">
            {% if position.controllers|length > 1 %}
              <ul>
                {% for controller in position.controllers %}
                  <li>
                    <span class="text-success-emphasis fw-bolder fs-6">{{ controller.first_name }} {{ controller.last_name }}</span>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              {% for controller in position.controllers %}
                <span class="text-success-emphasis fw-bolder fs-5">{{ controller.first_name }} {{ controller.last_name }}</span>
              {% endfor %}
            {% endif %}
            <br>
            {{ position.description }}
          </p>
          {% if position.email %}
            <a href="mailto:{{ position.email }}">Email</a>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

{% endblock %}
