[Unit]
Description=New vZDV Discord bot
Requires=network.target

[Service]
WorkingDirectory=/srv/vzdv
ExecStart=/srv/vzdv/vzdv-bot
Restart=always

[Install]
WantedBy=multi-user.target
