[Unit]
Description=New vZDV site tasks
Requires=network.target

[Service]
WorkingDirectory=/srv/vzdv
ExecStart=/srv/vzdv/vzdv-tasks
Restart=always

[Install]
WantedBy=multi-user.target
