{% extends "_layout" %}

{% block title %}Email test | {{ super() }}{% endblock %}

{% block body %}

<h2 class="pb-3">Email test</h2>

<form action="/admin/email/manual" method="POST">
  <div class="row mb-3">
    <div class="col">
      <select class="form-select" name="recipient" id="recipient" required>
        <option disabled>Controllers</option>
        {% for controller in all_controllers %}
          <option value="{{ controller.cid }}">{{ controller.first_name }} {{ controller.last_name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col">
      <select class="form-select" name="template" id="template" required>
        <option disabled>Template</option>
        <option value="visitor_accepted">Visitor accepted</option>
        <option value="visitor_denied">Visitor denied</option>
        <option value="visitor_removed">Visitor removed</option>
      </select>
    </div>
  </div>
  <button class="btn btn-primary" role="button" type="submit">Send</button>
</form>

{% endblock %}
