{% extends "_layout" %}

{% block title %}Manage feedback | {{ super() }}{% endblock %}

{% block body %}

<h2 class="pb-3">Manage feedback</h2>

{% if pending_feedback|length == 0 %}
  <h4>There is no pending feedback</h4>
{% else %}

  <ul class="nav nav-tabs" role="tablist">
    <button class="nav-link active" id="nav-pending-tab" data-bs-toggle="tab" data-bs-target="#nav-pending" type="button" role="tab" aria-controls="nav-pending" aria-selected="true">Pending</button>
    <button class="nav-link" id="nav-archived-tab" data-bs-toggle="tab" data-bs-target="#nav-archived" type="button" role="tab" aria-controls="nav-archived" aria-selected="false">Archived</button>
  </ul>

  <div class="tab-content pt-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab" tabindex="0">
      <div class="d-flex">
        <span class="col-3 fw-bold">Submitter CID</span>
        <span class="col-3 fw-bold">Controller</span>
        <span class="col-2 fw-bold">Position</span>
        <span class="col-2 fw-bold">Rating</span>
        <span class="col-2 fw-bold">Date</span>
      </div>
      {% for feedback in pending_feedback %}
        {% if feedback.reviewer_action == "pending" %}
          <div class="d-flex flex-wrap">
            <span class="col-3">
              <a href="https://stats.vatsim.net/stats/{{ feedback.submitter_cid }}" target="_blank">{{ feedback.submitter_cid }}</a>
            </span>
            <span class="col-3">{{ feedback.controller }}</span>
            <span class="col-2">{{ feedback.position }}</span>
            <span class="col-2">{{ feedback.rating }}</span>
            <span class="col-2">{{ feedback.created_date|nice_date }}</span>
            <span class="col-12 pt-2">
              <span class="fw-bold me-3">Comments:</span> {{ feedback.comments }}
            </span>
          </div>
          <div class="pt-3">
            <form action="/admin/feedback" method="POST">
              <input type="hidden" name="id" value="{{ feedback.id }}">
              <input type="submit" class="btn btn-sm btn-info" name="action" value="Archive"
                title="Leave the feedback in the database for later">
              <input type="submit" class="btn btn-sm btn-success" name="action" value="Post to Discord"
                title="Send the feedback to Discord for everyone to see">
              <input type="submit" class="btn btn-sm btn-danger" name="action" value="Delete"
                title="Completely delete the feedback">
            </form>
          </div>
          <hr>
        {% endif %}
      {% endfor %}
    </div>
    <div class="tab-pane fade" id="nav-archived" role="tabpanel" aria-labelledby="nav-archived-tab" tabindex="0">
      <div class="d-flex">
        <span class="col-3 fw-bold">Submitter CID</span>
        <span class="col-3 fw-bold">Controller</span>
        <span class="col-2 fw-bold">Position</span>
        <span class="col-2 fw-bold">Rating</span>
        <span class="col-2 fw-bold">Date</span>
      </div>
      {% for feedback in pending_feedback %}
        {% if feedback.reviewer_action == "archive" %}
          <div class="d-flex flex-wrap">
            <span class="col-3">
              <a href="https://stats.vatsim.net/stats/{{ feedback.submitter_cid }}" target="_blank">{{ feedback.submitter_cid }}</a>
            </span>
            <span class="col-3">{{ feedback.controller }}</span>
            <span class="col-2">{{ feedback.position }}</span>
            <span class="col-2">{{ feedback.rating }}</span>
            <span class="col-2">{{ feedback.created_date|nice_date }}</span>
            <span class="col-12 pt-2">
              <span class="fw-bold me-3">Comments:</span> {{ feedback.comments }}
            </span>
          </div>
          <div class="pt-3">
            <form action="/admin/feedback" method="POST">
              <input type="hidden" name="id" value="{{ feedback.id }}">
              <input type="submit" class="btn btn-sm btn-success" name="action" value="Post to Discord"
                title="Send the feedback to Discord for everyone to see">
              <input type="submit" class="btn btn-sm btn-danger" name="action" value="Delete"
                title="Completely delete the feedback">
            </form>
          </div>
          <hr>
        {% endif %}
      {% endfor %}
    </div>
  </div>

{% endif %}

{% endblock %}
