{% extends "_layout" %}

{% block title %}Visitor Applications | {{ super() }}{% endblock %}

{% block body %}

<h2 class="pb-3">Manage Visitor Applications</h2>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Who</th>
      <th>Rating</th>
      <th>Home facility</th>
      <th>Visiting facilities</th>
      <th>Date</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for request in requests %}
      <tr>
        <td>
          <a href="https://stats.vatsim.net/stats/{{ request.cid }}" target="_blank">
            {{ request.first_name }} {{ request.last_name }} ({{ request.cid }})
          </a>
        </td>
        <td>{{ request.rating }}</td>
        <td>{{ request.home_facility }}</td>
        <td>{{ already_visiting[request.cid] }}</td>
        <td>{{ request.date|nice_date }}</td>
        <td>
          <form action="/admin/visitor_applications/{{ request.id }}">
            <input type="hidden" name="action" value="accept">
            <button class="btn btn-success" type="submit">Accept</button>
          </form>
          <form action="/admin/visitor_applications/{{ request.id }}">
            <input type="hidden" name="action" value="deny">
            <button class="btn btn-danger" type="submit">Deny</button>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
