{% extends "_layout" %}

{% block title %}Discord | {{ super() }}{% endblock %}

{% block body %}

<h2>Discord</h2>

<!-- TODO synching capabilities -->

<p>
  Discord is a primary method of communication in the ARTCC.
  <br>
  <a href="{{ join_link }}" class="text-decoration-none" target="_blank">Click here</a> to join the Discord server.
</p>

{% endblock %}
